modules = ["nodejs-20", "rust-stable", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "cd frontend && npm install && npm run build"]

[workflows]
runButton = "Run Frontend Dev"

[[workflows.workflow]]
name = "Run Frontend Dev"
author = 39354119
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev -- --host 0.0.0.0"
