# Environment Variables
.env
.env.local
.env.*.local

# Secrets
**/secrets/
**/*.key
**/*.pem
**/wallets/

# Build directories
dist/
build/
target/

# Dependencies
node_modules/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Solana
target/
test-ledger/



